{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["import", "react"],
  "rules": {
    "no-unused-vars": 1,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "react/prop-types": 0,
    "standard/no-callback-literal": 0
  }
}
